git+https://github.com/johntday/notion-utils.git@main#egg=notion_utils
requests~=2.31.0
qdrant_client
langchain~=0.0.306
openai~=0.28.1
python-dotenv~=1.0.0
pypdf~=3.16.2
pdfminer.six
tiktoken~=0.5.1

streamlit~=1.27.1
streamlit-chat

# protobuf==3.20.*

pandas~=2.1.1
#tenacity~=8.2.3
